body {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;

    font-family: 'Poppins', Arial, sans-serif;
    background: #FDEBD0;
    color: black;
}

.layout {
    display: flex;
    min-height: 100wh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.profile h1 {
    margin-top: 90px;
    font-size: 40px;
}

.profile img{
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 10px 15px rgb(235, 142, 159);
}

table {
    margin: 90px auto;
    border-collapse: collapse;
    background-color: #F75270;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    background-color: rgb(215, 140, 192);
}

th {
    background-color: cornsilk;
}

.socmed img {
    width: 35px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #DC143C;

}